extends layout

block content
    script 
        while()
    header.jumbotron
        .container
            .row
                .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                h1.text-center Home
    .container
        #jumbo.col-12.col-sm-5.col-md-5.col-lg-5.col-xl-5.text-center
        table#appointments.table.table-borderless.table-striped.tale-earning 
            thead
                tr 
                    th Appointment ID 
                    th Time 
                    th Doctor
                    th Cancel
                tbody#testBody
            